body {
  background: #eee;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.qs_main {
width: 100%;
}
/* Hide class qs_label div */
.qs_label {
  display: none;
}
.qs_title_bar{
  display: none;
}
/* .qs_main{

  transform: rotate(90deg);
  position: relative;
  top: 40px; left: 40px;
} */
/* far right at center .qs_main */
.qs_main {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(90deg);
}
.center {
  
  display: flex;
  justify-content: center;
  }

canvas {
}
